/* reset */
* {
    margin: 0;
    padding: 0;
}

/* font */

@font-face {
    font-family: 'grundfosP';
    src: url('font/GrundfosTheSansV2OT-2XL.otf');
}
@font-face {
    font-family: 'grundfosBold';
    src: url('font/GrundfosTheSansV2OT-8XB.otf');
}


/* header */

header {
    height: 100px; 
        background: #11497b;
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
 
}

.widthwrapper {
    max-width: 1080px;
    width: 100%;
    margin: auto;
}

#desklogo {
    margin-top: 40px;
    margin-left: 50px;
    
}


/* body */

body {
    overflow-x: hidden;
    background: radial-gradient(at top,#8cbbdd,#34648f,#11497b,#000916);

}

/* startpage-styling */

#landingh1 {
    max-width: 600px;
    font-family: 'grundfosBold';
    font-size: 50px;
    margin-top: 30px;
    margin-left: 50px;
    color: white;  
    display: inline-block  
}

.psave{
    margin-left: 600px;
    padding-bottom: 30px;
    font-family: 'grundfosBold';
    font-size: 50px;
    color: white;
}

.highlight{
    color: #a2c510; 
}

.container{
    width: 100%;
    padding-top: 70px;
    padding-bottom: 30px;
}

.container img{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container a{
    text-decoration: none;
}

.startbutton{
    width: 150px;
    height: 150px;
    float:right;
    margin-right: 250px;
    background: #b5d140;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    font-family: 'grundfosP';
    font-size: 25px;
    letter-spacing: 1px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}

.psave{
    margin-left: 600px;
    padding-bottom: 30px;
    font-family: 'grundfosBold';
    font-size: 50px;
    color: white;
}

.highlight{
    color: #a2c510; 
}

.container{
    width: 100%;
    padding-top: 70px;
    padding-bottom: 30px;
}

.container img{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container a{
    text-decoration: none;
}

.startbutton{
    width: 150px;
    height: 150px;
    float:right;
    margin-right: 250px;
    background: #b5d140;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    font-family: 'grundfosP';
    font-size: 25px;
    letter-spacing: 1px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}


.startbutton:hover{
    background: #a2c510;
}

/* input form (http://codepen.io/anon/pen/apaYZR)*/

/*form styles*/
#msform {
    width: 75%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 160px;
    text-align: center;
    position: relative;
}
#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    min-height: 500px;

    /*stacking fieldsets above each other*/
    position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

/*buttons*/
#msform .action-button {
    width: 130px;
    background: #3386c3;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 7px 5px;
    margin: 10px 5px;
}


#msform .action-button:hover, #msform .action-button:focus {
    background: #0068b4;
}



/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}
#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    width: 20%;
    float: left;
    position: relative;
    font-family: grundfosP;
    
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 40px;
    line-height: 40px;
    display: block;
    font-size: 15px;
    font-weight: bold;
    color: #333;
    background: white;
    border-radius: 40px;
    margin: 5px auto 5px auto;

   
}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 5px;
    background: white;
    position: absolute;
    left: -50%;
    top: 17px;
    z-index: -1; /*put it behind the numbers*/
    margin-top: 5px;

}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
    background: #a2c510;
    color: white;
}


/* input fields */

.fieldsetwrapper {
    text-align: left;
    min-height: 420px;
    display: block;
}
.inputwrapper {
    width: 42%;
    margin-left: 2%;
    padding-top: 50px;
    display: inline-block;
}



.inputwrapper > input, input {
    height: 40px;
    margin-top: 8px;
    margin-bottom: 15px ;
    outline: none;
    border-radius: 0px ;
    font-size: 16px ;
    font-family: grundfosP;
    background-color: #f2f2f2;
    color: #b7b6b6;
    
    padding: 15px;
    border: 1px solid #ccc;
    
    
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    
}

#techinput > input {
    width:95%;
    display: inline-block;
}

.inputwrapper > input:focus {
    border-color: #727272 ;
}

.inputwrapper select {
    width: 100%;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 15px;
    outline: none;
    border-radius: 0px;
    padding-left: 10px;
    font-size: 16px;
    font-family: grundfosP;
    background-color: #f2f2f2;
    color: #777;
}

.inputwrapper select:focus {
    border-color: #727272 ;
}

#pumpusage {
    margin-top: 8px;
    min-height: 110px;
    max-height: 150px !important;
    outline: none;
    border-radius: 0px;
    font-size: 14px;
    font-family: grundfosP;
    background-color: #f2f2f2;
    
    color: #b7b6b6;
    resize: vertical;
    width: 93.5%;
    padding: 3%;
}
#pumpusage:focus {
    border-color: #727272 ;
    color: #727272;
}
#pumplocationoption {
    display: none;
}

.inputwrapper > label {
    font-family: grundfosP;
    font-size: 1em;
}

.inputwrapper > span {
    display: inline-block;
    font-family: grundfosP;
    width: 1%;
}




/* visual guide */

.guidewrapper {
    position: relative;
    display: none;
    width: 44%;
    height: 100%;
    float:right;
    margin-right: 4%;
    margin-top: 5%;

    
}

.guidewrapper img {
    position: absolute;
    top: 0;
    left: 0;

    border: none;
    outline: none;
    width: 100%;
    height: 340px;
    z-index: 3;
}

.productimg {
    display:none;
}

.productimg[src] {
    display: block;
    z-index: 2;
}
#inputidimg{
    z-index: 1;
}


/* aside */

#customerform {
    width:76%;
    margin: 0 10%;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: -326px;
    background: #fff;
    position: relative;
    z-index: -1;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);


    transition: all 1s ease-in-out;

    display: none;
}

#customerform.display {
    display: block;
}

#customerform.animation {
    margin-left: 92%;
}

#customerform.animationz {
    z-index: 10;
}




#customerform input {
    display: inline-block;
    width:47.7%;
    margin: 1%;
}

#customerform h4 {
    width:90%;
    margin: auto;
    padding: 15px;
    font-size: 1.5em;
    font-family: grundfosP;
}

.greenbutton {
    background-color: #6eb556 !important;
}
.greenbutton:hover, .greenbutton:active {
    background: #4aa22c !important;
}



/* footer */

footer {
    height: 250px;
    background: #11497b;
    padding-right: 20px;
    padding-left: 20px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    

}

footer > div > h3 {
    padding-top: 18px;
    color: #fff;
    text-align: right;
    font-family: grundfosP;
    font-size: 1.1em;
}

.line {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-bottom: solid #34648f 1px;
}

footer > div > h4 {
    color: #fff;
    padding-top: 22px;
    padding-bottom: 10px;
    font-family: grundfosP;
}

footer > div > ul {
    list-style: none;
    font-size: 0.9em;
    line-height: 1.4em;
    font-family: grundfosP;
}

footer > div > ul > li {
    color: #8cbbdd;
}
#legal {
    padding-top: 30px;
    padding-left: 10px;
}

#legal > li {
    display: inline-block;
}
#legal > li > a {
    display: inline-block;
    text-decoration: none;
    color: #3386c3;
}

/* mediaQ */



@media screen and (min-width:0px) and (max-width:480px) {

    header{
        height: 50px; 
    }

    #desklogo{
        height: 30px;
        width: 140px;
        margin: 10px 0 0 20px;
    }

    #progressbar{
        display: none;
    }

    #msform{
        width: 100%;
        height: 100vh;
        margin: 0; 
    }

    #msform fieldset{
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .inputwrapper {
        width: 100%;
        margin: 0;
        padding-top: 50px;
        display: block;
    }

    .guidewrapper{
        display: block;
        float: none;
        margin-top: 10px;
        margin-left: 70px;
    }

    .guidewrapper img {
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
    }

    #msform .action-button{
        display: inline-block; 
        width: 110px;
        background: #3386c3;
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 1px;
        cursor: pointer;
        padding: 7px 5px;
    }

    #customerform {
        margin-top: -526px;
    }

    #customerform input {
        display: inline-block;
        width:100%;
        margin: 2px;  
    }

    #customerform h4 {
        width:90%;
        margin: auto;
        padding: 15px;
        font-size: 18px;
        font-family: grundfosP;
        text-align: center;
    }

    #customerform .action-button{
        display: inline-block;
        width: 100px;
    }

/* startpage */

#landingh1 {
    max-width: 600px;
    margin: auto;
    font-family: 'grundfosBold';
    font-size: 30px;
    text-align: center;
    color: white;  
    display: block;
}

.psave{
    padding-bottom: 30px;
    font-family: 'grundfosBold';
    font-size: 30px;
    color: white;
    text-align: center;
    margin: auto;

}

.startbutton{
    float: none;
    width: 100px;
    height: 100px;
    background: #b5d140;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    font-family: 'grundfosP';
    font-size: 20px;
    letter-spacing: 1px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    text-align: center;
    display: block;
    margin: auto;
}
.container a{
    margin: auto;
    text-align: center;
    display: block;
    padding-top: 30px;

}

}

@media screen and (min-width:480px) and (max-width:769px) {

    header{
        height: 70px; 
    }

    #desklogo{
        height: 30px;
        width: 160px;
        margin: 20px 0 0 20px;
    }

    .inputwrapper {
        width: 100%;
        padding-top: 50px;
        display: block;
        margin: 0;
        margin-bottom: 150px;
    }   

    .guidewrapper{
        display: block;
        float: none;
        margin-top: 10px;
        margin-left: 105px;
    }

    .guidewrapper img {
        top: -150px;
        left: 0;
        width: auto;
        height: 150px;
    }

    #customerform {
        margin-top: -4600px;
    }

    #customerform input {
        display: inline-block;
        width:100%;
        margin: 0 0 10px 0;  
    }

    #customerform h4 {
        width:90%;
        margin: auto;
        padding: 15px;
        font-size: 18px;
        font-family: grundfosP;
        text-align: center;
    }

    #customerform .action-button{
        display: inline-block;
        width: 100px;
    }

    #msform {
        width: 75%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 160px;
        text-align: center;
        position: relative;
    }

/* startpage */

#landingh1 {
    max-width: 600px;
    margin: auto;
    font-family: 'grundfosBold';
    font-size: 50px;
    text-align: center;
    color: white;  
    display: block;
}

.psave{
    padding-bottom: 30px;
    font-family: 'grundfosBold';
    font-size: 50px;
    color: white;
    text-align: center;
    margin: auto;

}

.startbutton{
    float: none;
    width: 120px;
    height: 120px;
    background: #b5d140;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    font-family: 'grundfosP';
    font-size: 20px;
    letter-spacing: 1px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    text-align: center;
    display: block;
    margin: auto;
}
.container a{
    margin: auto;
    text-align: center;
    display: block;
    padding-top: 30px;

}

}

@media screen and (min-width:769px) and (max-width:1224px) {

/* startpage */

#landingh1 {
    max-width: 600px;
    margin: auto;
    font-family: 'grundfosBold';
    font-size: 50px;
    text-align: center;
    color: white;  
    display: block;
}

.psave{
    padding-bottom: 30px;
    font-family: 'grundfosBold';
    font-size: 50px;
    color: white;
    text-align: center;
    margin: auto;

}

.startbutton{
    float: none;
    width: 120px;
    height: 120px;
    background: #b5d140;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    font-family: 'grundfosP';
    font-size: 20px;
    letter-spacing: 1px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    text-align: center;
    display: block;
    margin: auto;
}
.container a{
    margin: auto;
    text-align: center;
    display: block;
    padding-top: 30px;

}


}
