/* reset */
* {
    margin: 0;
    padding: 0;
}

/* font */

@font-face {
    font-family: 'grundfosP';
    src: url('font/GrundfosTheSansV2OT-2XL.otf');
}
@font-face {
    font-family: 'grundfosBold';
    src: url('font/GrundfosTheSansV2OT-8XB.otf');
}


/* header */

header {
    height: 100px; 
    background: #11497b;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);

}

.widthwrapper {
    max-width: 1080px;
    width: 100%;
    margin: auto;
}

#desklogo {
    margin-top: 40px;
    margin-left: 50px;

}


/* body */

body {
    overflow-x: hidden;
    background: radial-gradient(at top,#8cbbdd,#34648f,#11497b,#000916);

}

/* startpage-styling */

#landingh1 {
    max-width: 600px;
    font-family: 'grundfosBold';
    font-size: 50px;
    margin-top: 30px;
    margin-left: 50px;
    color: white;  
    display: inline-block  
}

.psave{
    margin-left: 600px;
    padding-bottom: 30px;
    font-family: 'grundfosBold';
    font-size: 50px;
    color: white;
}

.highlight{
    color: #a2c510; 
}

.container{
    width: 100%;
    padding-top: 70px;
    padding-bottom: 30px;
}

.container img{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container a{
    text-decoration: none;
}

.startbutton{
    width: 150px;
    height: 150px;
    float:right;
    margin-right: 250px;
    background: #b5d140;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    font-family: 'grundfosP';
    font-size: 25px;
    letter-spacing: 1px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}

.psave{
    margin-left: 600px;
    padding-bottom: 30px;
    font-family: 'grundfosBold';
    font-size: 50px;
    color: white;
}

.highlight{
    color: #a2c510; 
}

.container{
    width: 100%;
    padding-top: 70px;
    padding-bottom: 30px;
}

.container img{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container a{
    text-decoration: none;
}

.startbutton{
    width: 150px;
    height: 150px;
    float:right;
    margin-right: 250px;
    background: #b5d140;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    font-family: 'grundfosP';
    font-size: 25px;
    letter-spacing: 1px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}


.startbutton:hover{
    background: #a2c510;
}

/* input form (http://codepen.io/anon/pen/apaYZR)*/

/*form styles*/
#msform {
    width: 80%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 160px;
    text-align: center;
    position: relative;
}
#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    min-height: 500px;

    /*stacking fieldsets above each other*/
    position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

/*buttons*/
#msform .action-button {
    width: 130px;
    background: #3386c3;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 7px 5px;
    margin: 10px 5px;
    position: relative;
    z-index: 2;
}

.buttondisable {
    position: absolute;
    bottom:0;
    right: 0;
    width: 50%;
    height: 100px;
    z-index: 3;
}

.disabled {
    background: #747474 !important;
}


#msform .action-button:hover, #msform .action-button:focus {
    background: #0068b4;
}



/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}
#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    width: 20%;
    float: left;
    position: relative;
    font-family: grundfosP;

}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 40px;
    line-height: 40px;
    display: block;
    font-size: 15px;
    font-weight: bold;
    color: #333;
    background: white;
    border-radius: 40px;
    margin: 5px auto 5px auto;


}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 5px;
    background: white;
    position: absolute;
    left: -50%;
    top: 17px;
    z-index: -1; /*put it behind the numbers*/
    margin-top: 5px;

}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
    background: #a2c510;
    color: white;
}


/* input fields */

.fieldsetwrapper {
    text-align: left;
    min-height: 420px;
    display: block;
}
.inputwrapper {
    width: 42%;
    margin-left: 2%;
    padding-top: 50px;
    display: inline-block;
}



.inputwrapper > input, input {
    height: 40px;
    margin-top: 8px;
    margin-bottom: 15px ;
    outline: none;
    border-radius: 0px ;
    font-size: 16px ;
    font-family: grundfosP;
    background-color: #f2f2f2;
    color: #b7b6b6;

    padding: 15px;
    border: 1px solid #ccc;


    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;

}

#techinput > input {
    width:95%;
    display: inline-block;
}

.inputwrapper > input:focus {
    border-color: #727272 ;
}

.inputwrapper select {
    width: 100%;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 15px;
    outline: none;
    border-radius: 0px;
    padding-left: 10px;
    font-size: 16px;
    font-family: grundfosP;
    background-color: #f2f2f2;
    color: #777;
}

.inputwrapper select:focus {
    border-color: #727272 ;
}

#pumpusage {
    margin-top: 8px;
    min-height: 110px;
    max-height: 150px !important;
    outline: none;
    border-radius: 0px;
    font-size: 14px;
    font-family: grundfosP;
    background-color: #f2f2f2;

    color: #b7b6b6;
    resize: vertical;
    width: 93.5%;
    padding: 3%;
}
#pumpusage:focus {
    border-color: #727272 ;
    color: #727272;
}
#pumplocationoption {
    display: none;
}
.inputwrapper > label {
    font-family: grundfosP;
    font-size: 1em;
}




/* visual guide */

.guidewrapper {
    position: relative;
    display: none;
    width: 44%;
    height: 100%;
    float:right;
    margin-right: 4%;
    margin-top: 5%;


}

.guidewrapper img {
    position: absolute;
    top: 0;
    left: 0;

    border: none;
    outline: none;
    width: 100%;
    height: 340px;
    z-index: 3;
}

.productimg {
    display:none;
}

.productimg[src] {
    display: block;
    z-index: 2;
}
#inputidimg{
    z-index: 1;
}


/* customerform */

#customerform {
    width:76%;
    margin: 0 10%;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: -326px;
    background: #fff;
    position: relative;
    z-index: -1;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);



    transition: all 1s ease-in-out;

    display: none;
}

#customerform.display {
    display: block;
}

#customerform.animation {
    margin-left: 92%;
}

#customerform.animationz {
    z-index: 10;
}




#customerform input {
    display: inline-block;
    width:47.7%;
    margin: 1%;
}

#customerform h4 {
    width:90%;
    margin: auto;
    padding: 15px;
    font-size: 1.5em;
    font-family: grundfosP;
}

.greenbutton {
    background-color: #6eb556 !important;
}
.greenbutton:hover, .greenbutton:active {
    background: #4aa22c !important;
}

/* errors */

.errordiv {
    position: relative;

}
.errordiv > div {
    background: #e24343;
    position: absolute;
    right: -8px;
    top: -28px;
    z-index: 4;
    padding: 8px;
    font-family: grundfosP;
    box-shadow: -3px 3px 8px #434343;
    display: none;
}

.errordiv > div > div {
    position: absolute;
    right: 4px;
    bottom: -10px;
    height: 20px;
    width: 20px;
    background: #e24343;
    z-index: -1;
    transform: rotate(45deg);
}


.errordiv > label {
    font-family: grundfosP;
    font-size: 1em;
    position: relative;
    z-index: 2;
}

.errordiv > span {
    position: absolute;
    top:38px;
    right: -10px;
    font-family: grundfosP;
    width: 1%;
}

#successmessage {
    position: fixed;
    bottom: 0;
    right: -370px;
    height: 100px;
    width: 370px;
    background: #4aa22c;
    border-top-left-radius: 10px;
    box-shadow: 0 5px 15px #222;
    transition: all 1s ease-in-out;
    z-index: 1000;
}

.displaysuccess {
    right: 0 !important;
}

#successmessage > p {
    font-size: 1.2em;
    font-family: grundfosP;
    padding: 20px;
    line-height: 30px;
    width: 65%;
    margin: 0;
    display: inline-block;
    color: white;
}
#successmessage > img {
    display: inline-block;
    width: 12%;
    height: auto;
}

/* radiobuttons */

h3{
    font-family: grundfosP;
    text-align: center;
    margin-top: 10px;
}

.alpha2{
    display: inline-block;
    font-family: grundfosP;
    font-size: 14px;
    color: white;
    vertical-align: text-top;
    background: #11497b;
    border-radius: 5px;
    width: 32%;
    min-height: 460px;
    margin-left: 0;
    cursor:pointer;
}    

.alpha2 li{
    line-height: 18px;
    padding-bottom: 10px;
}

.alpha2 ul{
    padding-left: 9%;
    padding-right: 4%;
    padding-bottom: 15px;
}


.alpha2 > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}
.alpha2 > input + img{ /* IMAGE STYLES */
    border:2px solid transparent;
    width: 90%;
    height: 200px;
    border-radius: 5px;
    margin-left: 5%;
    margin-top: 10px;
    transition: all 0.2s;
}
.alpha2 > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
    border:2px solid #6eb556;
    transform: scale(1.05);
}

.alpha3{
    display: inline-block;
    font-family: grundfosP;
    font-size: 14px;
    color: white;
    display: inline-block;
    background: #11497b;
    border-radius: 5px;
    vertical-align: text-top;
    width:32%;
    min-height: 460px;
    margin-left: 1%;
    margin-right: 1%;
    cursor:pointer;
}

.alpha3 li{
    line-height: 18px;
    padding-bottom: 10px;
}


.alpha3 ul{
    padding-left: 9%;
    padding-right: 4%;
    padding-bottom: 15px;
}

.alpha3 > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}
.alpha3 > input + img{ /* IMAGE STYLES */

    border:2px solid transparent;
    width: 90%;
    height: 200px;
    border-radius: 5px;
    border-radius: 5px;
    margin-left: 5%;
    margin-top: 10px;
    transition: all 0.2s;
}
.alpha3 > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
    border:2px solid #6eb556;
    transform: scale(1.05);
}

.magna3{
    display: inline-block;
    font-family: grundfosP;
    font-size: 14px;
    color: white;
    background: #11497b;
    border-radius: 5px;
    vertical-align: text-top;
    width:32%;
    min-height: 460px;
    margin-right: 0;
    cursor:pointer;
}

.magna3 li{
    line-height: 18px;
    padding-bottom: 10px;
}

.magna3 ul{
    padding-left: 9%;
    padding-right: 4%;
    padding-bottom: 15px;
}

.magna3 > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}

.magna3 > input + img{ /* IMAGE STYLES */
    cursor:pointer;
    border:2px solid transparent;
    width: 90%;
    height: 200px;
    border-radius: 5px;
    margin-left: 5%;
    margin-top: 10px;
    transition: all 0.2s;
}

.magna3 > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
    border:2px solid #6eb556;
    transform: scale(1.05);
}

h1{
    font-family: grundfosBold;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 2.3em;
    color:  #11497b;
}

h2{
    font-family: grundfosP;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
    line-height: 1.4em;
}

#radiofield {
    margin-bottom: 30px;
}

#widerfieldset {
    width: 90%;
    margin: 5% 0;
}

/* chart display */

.chartbar {
    position:relative;
    display:block;
    margin-bottom:15px;
    margin-top: 40px;
    width:100%;
    background:#d8d8d8;
    height:80px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -webkit-transition:0.4s linear;
    -moz-transition:0.4s linear;
    -ms-transition:0.4s linear;
    -o-transition:0.4s linear;
    transition:0.4s linear;
    -webkit-transition-property:width, background-color;
    -moz-transition-property:width, background-color;
    -ms-transition-property:width, background-color;
    -o-transition-property:width, background-color;
    transition-property:width, background-color;
}

.chartbar-title {
    position:absolute;
    top:0;
    left:0;
    width:110px;
    font-weight:bold;
    font-size:13px;
    color:#ffffff;
    background:#34648f;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}

.chartbar-title span {
    display:block;
    background:rgba(0, 0, 0, 0.1);
    padding:0 20px;
    height:80px;
    line-height:40px;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}

.chartbar-bar {
    height:80px;
    width:0px;
    background:#6eb556;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}

.chart-bar-percent {
    position:absolute;
    right:10px;
    top:0;
    font-size:18px;
    height:80px;
    line-height:80px;
    font-family: grundfosBold;
    color:#414141;
}

#h2chart-bar-percent {
    font-family: grundfosBold;
    padding: 5px;
}

/* footer */

footer {
    height: 250px;
    background: #11497b;
    padding-right: 20px;
    padding-left: 20px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);

    transform: all 1s ease;
}

footer > div > h3 {
    padding-top: 18px;
    color: #fff;
    text-align: right;
    font-family: grundfosP;
    font-size: 1.1em;
}

.line {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-bottom: solid #34648f 1px;
}

footer > div > h4 {
    color: #fff;
    padding-top: 22px;
    padding-bottom: 10px;
    font-family: grundfosP;
}

footer > div > ul {
    list-style: none;
    font-size: 0.9em;
    line-height: 1.4em;
    font-family: grundfosP;
}

footer > div > ul > li {
    color: #8cbbdd;
}
#legal {
    padding-top: 30px;
    padding-left: 10px;
}

#legal > li {
    display: inline-block;
}
#legal > li > a {
    display: inline-block;
    text-decoration: none;
    color: #3386c3;
}

/* mediaQ */



@media screen and (min-width:0px) and (max-width:480px) {

    header{
        height: 50px; 
    }

    #desklogo{
        height: 30px;
        width: 140px;
        margin: 10px 0 0 20px;
    }

    #progressbar{
        display: none;
    }

    #msform{
        width: 100%;
        height: 100%;
        margin: 0; 
    }

    #msform fieldset{
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .inputwrapper {
        width: 100%;
        margin: 0;
        padding-top: 50px;
        display: block;
    }

    .guidewrapper{
        display: block;
        float: none;
        margin-top: 10px;
        margin-left: 70px;
    }

    .guidewrapper img {
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
    }

    #msform .action-button{
        display: inline-block; 
        width: 110px;
        background: #3386c3;
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 1px;
        cursor: pointer;
        padding: 7px 5px;
    }

    #customerform {
        margin-top: -526px;
    }

    #customerform input {
        display: inline-block;
        width:100%;
        margin: 2px;  
    }

    #customerform h4 {
        width:90%;
        margin: auto;
        padding: 15px;
        font-size: 18px;
        font-family: grundfosP;
        text-align: center;
    }

    #customerform .action-button{
        display: inline-block;
        width: 100px;
    }

    /* startpage */

    #landingh1 {
        max-width: 600px;
        margin: auto;
        font-family: 'grundfosBold';
        font-size: 50px;
        text-align: center;
        color: white;  
        display: block;
    }

    .psave{
        padding-bottom: 30px;
        font-family: 'grundfosBold';
        font-size: 50px;
        color: white;
        text-align: center;
        margin: auto;

    }

    .startbutton{
        float: none;
        width: 120px;
        height: 120px;
        background: #b5d140;
        font-weight: bold;
        color: white;
        cursor: pointer;
        border-radius: 50%;
        font-family: 'grundfosP';
        font-size: 20px;
        letter-spacing: 1px;
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
        text-align: center;
        display: block;
        margin: auto;
    }
    .container a{
        margin: auto;
        text-align: center;
        display: block;
        padding-top: 30px;
    }

    .alpha2, .alpha3, .magna3 {
        width: 100%;
        margin: 10px 0;
    }


    .alpha2  > img  {
        height: auto !important;
    }

    .alpha3  > img{
        height: auto !important;
    }

    .magna3 > img {
        height: auto !important;
    }
}

@media screen and (min-width:480px) and (max-width:769px) {

    header{
        height: 70px; 
    }

    #desklogo{
        height: 30px;
        width: 160px;
        margin: 20px 0 0 20px;
    }

    .inputwrapper {
        width: 100%;
        padding-top: 50px;
        display: block;
        margin: 0;
        margin-bottom: 150px;
    }   

    #techinput {
        width:95%;
    }

    .guidewrapper{
        display: block;
        float: none;
        margin-top: 10px;
        margin-left: 105px;
    }

    .guidewrapper img {
        top: -150px;
        left: 0;
        width: auto;
        height: 150px;
    }

    #customerform {
        margin-top: -4600px;
    }

    #customerform input {
        display: inline-block;
        width:100%;
        margin: 0 0 10px 0;  
    }

    #customerform h4 {
        width:90%;
        margin: auto;
        padding: 15px;
        font-size: 18px;
        font-family: grundfosP;
        text-align: center;
    }

    #customerform .action-button{
        display: inline-block;
        width: 100px;
    }

    #msform {
        width: 100%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 160px;
        text-align: center;
        position: relative;
    }

    /* startpage */

    #landingh1 {
        max-width: 600px;
        margin: auto;
        font-family: 'grundfosBold';
        font-size: 50px;
        text-align: center;
        color: white;  
        display: block;
    }

    .psave{
        padding-bottom: 30px;
        font-family: 'grundfosBold';
        font-size: 50px;
        color: white;
        text-align: center;
        margin: auto;

    }

    .startbutton{
        float: none;
        width: 120px;
        height: 120px;
        background: #b5d140;
        font-weight: bold;
        color: white;
        cursor: pointer;
        border-radius: 50%;
        font-family: 'grundfosP';
        font-size: 20px;
        letter-spacing: 1px;
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
        text-align: center;
        display: block;
        margin: auto;
    }
    .container a{
        margin: auto;
        text-align: center;
        display: block;
        padding-top: 30px;
    }

    .alpha2, .alpha3, .magna3 {
        width: 100%;
        margin: 10px 0;
    }


    .alpha2  > img  {
        height: auto !important;
    }

    .alpha3  > img{
        height: auto !important;
    }


    .magna3 > img {
        height: auto !important;
    }

}